@media screen and (max-width: 767px) {
    header {
    display: flex;
    align-items: center;
    padding: 1.25rem;

    .hamburger {
        border: none;
        background: transparent;
        right: 0;
        position: fixed;
        padding: 1.25rem;
        z-index: 2;
    }

    nav {
        .nav-ul {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 0;
            gap: 1rem;
            top: 0;
            left: 0;
            right: 0;
            position: fixed;
            backdrop-filter: blur(.5rem);
            z-index: 1;
            opacity: 0;

            li {
                list-style-type: none;
                color: rgb(37, 37, 37);
                margin-bottom: 1rem;
                
                button {
                    border: none;
                    background: none;
                    display: flex;
                }
            }


            &.show {
                height: 35vh;
                opacity: 1;
                transition: 0.3s ease;
            }
        }
    }
    }
}
@media screen and (min-width: 768px) {
    header {
        padding: 1.75rem;
        display: flex;
        justify-content: space-between;

        .hamburger {
            display: none;
        }

        nav {
            .nav-ul {
                color: rgb(37, 37, 37);
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1.5rem;

                button {
                    border: none;
                    background: none;
                    display: flex;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 2.25rem;
    }
}

// header {
//     display: flex;
//     align-items: center;
//     padding: 1.25rem;

//     .hamburger {
//         border: none;
//         background: transparent;
//         right: 0;
//         position: fixed;
//         padding: 1.25rem;
//         z-index: 2;
//     }

//     nav {
//         .nav-ul {
//             width: 100%;
//             justify-content: center;
//             align-items: center;
//             display: none;
            
//             li {
//                 list-style-type: none;
//                 color: rgb(37, 37, 37);
//                 margin-bottom: 1rem;
//             }

//             &.show {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: flex-end;
//                 height: 50vh;
//                 gap: 1rem;
//                 top: 0;
//                 left: 0;
//                 right: 0;
//                 position: fixed;
//                 backdrop-filter: blur(.5rem);
//                 z-index: 1;
//             }
//         }
//     }
// }

// @media screen and (min-width: 768px) {
//     header {
//         padding: 1.75rem;
//         justify-content: space-between;

//         .hamburger {
//             display: none;
//         }

//         nav {
//             .nav-ul {
//                 display: flex;
//                 align-items: center;
//                 justify-content: flex-end;
//                 gap: 1.5rem;
//             }
//         }
//     }
// }

// @media screen and (min-width: 1024px) {
//     header {
//         padding: 2.25rem;
//     }
// }