@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Poppins, sans-serif;
}

img {
  max-width: 100%;
}

.background {
  background-image: url("../Assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.start {
  border: none;
  background: #000;
  color: #c4c4c4;
  font-weight: 500;
  padding: .75rem;
  border-radius: .5rem;
}

.start span {
  color: #fff;
  font-weight: 600;
}

.start:hover {
  border: 1px solid #000;
  background: transparent;
  color: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
}

header .hamburger {
  border: none;
  background: transparent;
  right: 0;
  position: fixed;
  padding: 1.25rem;
  z-index: 2;
}

header nav .nav-ul {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

header nav .nav-ul li {
  list-style-type: none;
  color: #252525;
  margin-bottom: 1rem;
}

header nav .nav-ul.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50vh;
  gap: 1rem;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  header {
    padding: 1.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hamburger {
    display: none;
  }
  header nav .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 2.25rem;
  }
}

main {
  padding: 1.25rem 1.25rem 0 1.25rem;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .hero_img {
  height: 10rem;
}

main .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

main .text h1 {
  font-size: 2.5rem;
  max-width: 75%;
}

main .text p {
  color: #333333;
  font-size: .9rem;
  max-width: 19rem;
}

main .text button {
  width: 90%;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    padding: 1.75rem 1.75rem 0 1.75rem;
    gap: 6rem;
  }
  main .text {
    gap: 1rem;
    width: 100%;
  }
  main .text h1 {
    font-size: 2.75rem;
    max-width: 25rem;
  }
  main .text p {
    max-width: 30.75rem;
  }
  main .text button {
    width: 12.5rem;
  }
  main .hero_img {
    width: 100%;
    height: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 2.25rem 2.25rem 0 2.25rem;
    gap: 6rem;
  }
  main .text {
    gap: 1rem;
    width: 100%;
  }
  main .text h1 {
    font-size: 3.2rem;
    max-width: 41.5rem;
  }
  main .text p {
    max-width: 42.5rem;
    font-size: 1.1rem;
  }
  main .text button {
    width: 12.5rem;
  }
  main .hero_img {
    width: 80%;
    height: 20rem;
  }
}

section {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
}

section .text h2 {
  font-size: 1.75rem;
}

section .text p {
  color: #333333;
  font-size: .825rem;
}

section .text button {
  width: 12.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 768px) {
  section {
    padding: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  section .customizable {
    width: 65%;
  }
  section .text h2 {
    font-size: 2.3rem;
  }
  section .text p {
    font-size: 1.05rem;
  }
  section .text button {
    font-size: 1rem;
  }
  section .text button:hover span {
    color: #000;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 2.25rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section .customizable {
    max-width: 30rem;
  }
  section .text {
    gap: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  section .text {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  section {
    gap: 4rem;
  }
  section .text h2 {
    font-size: 2.4rem;
  }
  section .text p {
    font-size: 1.1rem;
  }
}

footer {
  padding: 1.25rem;
}

footer nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .95rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav ul li {
  color: #252525;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 1.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav ul {
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */